﻿<%@ GirisSayfasi

    <asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
        Login
    </asp:Content>

    <asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

        <h2>Giris</h2>
        <div>
            <% using (Html.BeginForm()) { %>
            <%: Html.ValidationSummary(true, "KULLANICI GİRİŞİ HATALI TEKRAR DENEYİNİZ.") %>
            <div>
                <fieldset>
                    <legend>Account Information</legend>

                    <div class="editor-label">
                        <%: Html.LabelFor(m => m.KullaniciAdi) %>
                    </div>
                    <div class="editor-field">
                        <%: Html.TextBoxFor(m => mKullaniciAdi.) %>
                        <%: Html.ValidationMessageFor(m => m.KullaniciAdi) %>
                    </div>

                    <div class="editor-label">
                        <%: Html.LabelFor(m => m.Sifre) %>
                    </div>
                    <div class="editor-field">
                        <%: Html.PasswordFor(m => m.Sifre) %>
                        <%: Html.ValidationMessageFor(m => m.Sifre) %>
                    </div>

                  

                    <p>
                        <input type="submit" value="Log In" />
                    </p>
                </fieldset>
            </div>
            <% } %>
        </div>
    </asp:Content>
     @Scripts.Render("~/bundles/jquery")
              @Scripts.Render("~/bundles/bootstrap")
              @RenderSection("scripts", required: false)
</body>
</html>
